@using QRCoder;
@{
    ViewData["Title"] = "BtnGenerarQr";
}

<h1>BtnGenerarQr</h1>


<a id="btnqr" class="btn btn-primary justify-content-center" asp-controller="Parking" asp-action="DevolverQR" target="_blank" >Generar Ingreso</a>





