@*@using QRCoder;*@
@{
    ViewData["Title"] = "BtnGenerarQr";
}



<div class="container">
    <div class="contBtnQR">
        <a id="btnqr" class="btn btn-info btnqr" asp-controller="Parking" asp-action="DevolverQR" target="_blank"><p class="display-3"> Ingreso </p></a>
    </div>
</div>




