
@{
    ViewData["Title"] = "BtnGenerarQr";
}

<h1>BtnGenerarQr</h1>


<button asp-action="BtnGenerarQr" asp-controller="parking" class="btn btn-secondary justify-content-center"> <h1 class="display-1"> Generar QR!</h1>  </button>

