
/*aqui trabajare con el header y elmenu Nav*/


/*nav {
    background: rgba(163,163,163, 0.8);
    color: #0075FF;
}*/


/*estilos un poquitos modificados pero son los originales*/
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0075FF;
}

text-blue {
    color: #0075FF;
}
    text-blue:hover {
        color: #1861ac;
    }

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background: #5bc0de;
    color: #f3f3f3;
}

/* ############ ### ##########*/
/*para ordenar mis vistas*/
/* ############ ### ##########*/


.contenedorFormulario {
    background: #d4d3d3;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    padding: 40px;
   
}

.form {
    margin-top: 10px;
    padding-top: 15px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    border: 5px solid rgba(163,163,163, 0.6);
    border-radius: 5%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.border--gris {
    border: 5px solid rgba(163,163,163, 0.6);
    border-radius: 7px;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
   
    padding: 10px;
}

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    color: #5bc0de;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
   
}

    .formulario__input:focus {
        border: 3px solid #0075FF;
        outline: none;
        box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
    }

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
    padding: 3px;
    box-shadow: 1px 2px 0 0 #E5E5E5;
    border-radius: 3px;
    background: #bb2929;
    color: #fff;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

    .formulario__btn:hover {
        box-shadow: 3px 0px 30px rgba(163,163,163, 1);
    }

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario__btn {
        width: 100%;
    }
}


/*boton de generar nuevo ticket*/

.contBtnQR{
    display:flex;
    justify-content: center;
    align-items: center;
}

    .contBtnQR .btnqr {
        margin: auto;
        padding: 100px;
        border: 10px solid rgba(163,163,163, 0.6);
        border-radius: 50%;
        width: 450px;
        height: 450px;
        /*        width: 100%;
        height: 100%;*/
        max-width: 500px;
        max-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }



/*contenedor de fechas para calcular estas en los reportes*/

.contFechas{
    display: grid;
    grid-gap: 5px;
    grid-template-areas: "fe1 fe2 fe3";
    grid-template-columns: repeat(3,1fr);
}
.contFechas .fecha label{

}

    .contFechas .fecha1 {
        grid-area: fe1;
        display:flex;
        align-content: center;
        align-items: center;
        align-self: center;
    }

    .contFechas .fecha2 {
        grid-area: fe2;
        display: flex;
        align-content: center;
        align-items: center;
        align-self: center;
    }

    .contFechas .fecha3 {
        grid-area: fe3;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        align-self: center;
    }

